.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div {
    font-weight: 600;
  }

  h1 {
    font-weight: 700;
    color: var(--gray-800);
  }

  .input {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      min-width: 20rem;
      height: 35px;

      border-radius: 0.5rem;
      border: 2px solid var(--black-300); 

      font-weight: bold;
      color: var(--gray-800);
      text-transform: lowercase;
    }

    button {
      margin-left: 10px;
      background: var(--yellow-300);
      color: var(--black-300);
      font-weight: bold;
      border: 2px solid var(--yellow-400);

      &:hover {
        transform: scale(1.1);
        transition: all 0.5s;
      }
    }
  }

  .pokemon {
    img {
      width: 150px;
    }
    h2 {
      font-weight: bold;
      color: var(--purple-300);
    }
    p {
      font-weight: bold;
      color: var(--gray-800);
    }
  }

  @media (max-width: 650px) {
    .input {
  
      input {
        min-width: 8rem;  
      }
    } 

    h1 {
      font-weight: 700;
      font-size: 15px;
      margin-top: 10px;
      color: var(--gray-800);
    }
  }
}

